<app-header-card>
  <h1 class="h3" card-header> Información </h1>
</app-header-card>
<app-body-card>
<ng-container card-body>
  <h5 class="card-title">
    <div class="alert alert-warning" role="alert">
      ¡Importante!
    </div>
  </h5>
  <p class="card-text">Nuestra aplicación de consulta de tipo y número de documento es una herramienta sencilla y útil que te permite acceder a información crucial de forma rápida.
    <br>
    Recuerda que esta aplicación está diseñada para proporcionar información precisa y confiable. Utilízala con responsabilidad y de acuerdo a las regulaciones y leyes locales. ¡Disfruta de la facilidad y conveniencia de acceder a la información de tus documentos en un solo lugar!
  </p>
  <a routerLink="/consulta" class="btn btn-primary">Ir a consultar</a>
</ng-container>

</app-body-card>
