<app-header-card>
  <h1 class="h3" card-header> 404 </h1>
</app-header-card>
<app-body-card>
<ng-container card-body>
  <h5 class="card-title">
    <div class="alert alert-danger" role="alert">
      ¡ERROR!
    </div>
  </h5>
  <p class="card-text">Lo sentimos, la página que estás buscando no se encuentra. El error 404 significa que la página o recurso solicitado no ha sido encontrado en nuestro servidor. Por favor, verifica la dirección URL e intenta de nuevo. Si el problema persiste, no dudes en ponerte en contacto con nuestro equipo de soporte para obtener ayuda.</p>

  <p>Vuelve a una de las pagina anteriores</p>
  <a routerLink="/home" class="btn btn-primary mx-1">Ir a inicio</a>
  <a routerLink="/consulta" class="btn btn-secondary">Ir a consultar</a>
</ng-container>

</app-body-card>
